
<template name = "menuInfo">
    <div class="item-info">
        {{>menuItem}}
        <div id="info-btn-panel">
            <a href = "{{pathFor 'menuEdit'}}" id="edit_item_butt" class = "btn btn-default">Edit</a>
            <a href="{{pathFor 'menuPage'}}" id="back_item_butt" class="btn btn-default">Back</a>

        </div>
        </div>

</template>

<template name = "menuItem">

    <h2 class = "text-uppercase"><strong>{{name}}</strong></h2>

    {{#if pic_url}}
    <h3><img id="preview_image" src= {{pic_url}}></h3>
    {{else}}
    <h3><img id="preview_image" src= "/default_coffee.jpg"></h3>
    {{/if}}


    {{#if promotion}}
    <h3>Promotion status: <span>True</span></h3>
    <h3 >Valid Until: <span>{{FormatDate valid_until}}</span></h3>
    {{/if}}

    <h3 >Price: <span>{{price}} Baht</span></h3>
    <h3 >Type: <span>{{type}}</span></h3>



</template>


<!-- EDIT ITEM
<div id="edit_item">
<h1>Edit Menu</h1>

<img id="preview_image" src= "/default_coffee.jpg">

<div class="detail">
<p class="browsepic">Picture:<input multiple class = "file fileInput" id="item-image" type="file"/></p>

<p class="type">Type: <input id="type-drink" type="radio" name="type" checked="checked"/>Drink
<input id="type-food" type="radio" name="type"/>Food</p>

<p>Promotion: <input type="checkbox" id="promotion" value=true></p>
<p>Valid Until: <input type="date" id = "validTill"></p>
<p>Name: <input id="name-input" type="text"/></p>
<p>Price: <input id="price-input" type="text"/></p>
</div>

<div class="add_button">
<button id="add-to-save-butt">Save</button>
<button id="cancel-add-butt">Cancel</button>
</div>

</div> -->