
<template name="menuEdit">
    <h1 id = "title" data-id={{_id}}>Edit Menu</h1>

    <form class="form-horizontal">
        <div>
            <img id="preview_image" src= "{{pic_url}}">
            <br>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label" for="Pic">Picture</label>
            <div class="col-xs-4">
                <input multiple class = "file fileInput form-control" id="item-image" type="file" />
            </div>
            <br>
        </div>

       <div class="form-group">
            <label class="col-sm-2 control-label" for="type">Type</label>
            <div class="col-xs-4">
            <p class="form-control-static">{{type}}</p>
            </div>
            <br>
        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>
            <div class="col-xs-4">
                <input name="name" id="name" type="text" value="{{name}}" placeholder="Name of menu" class="form-control"/>
            </div>
            <br>
        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label" for="promotion">Promotion</label>
            <div class="col-xs-4">
                {{#if promotion}}

                        <input name="promotion" id="promotion" type="checkbox" checked />


                 {{else}}

                        <input name="promotion" id="promotion" type="checkbox" />

                {{/if}}
            </div>
            <br>

        </div>


        <div class="form-group">
            <label class="col-sm-2 control-label" for="price">Valid Until</label>
            <div class="col-xs-4">
                <input name="validTill" id="validTill" type="date" value="{{FormatDate valid_until}}" class="form-control"/>
            </div>
            <br>

        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" for="price">Price</label>
            <div class="col-xs-4">
                <input name="price" id="price" type="text" value="{{price}}" placeholder="Price of menu" class="form-control"/>
            </div>
            <br>

        </div>


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <a class="btn btn-primary submit" id="save-btn">Save</a>
                <a class="btn btn-danger delete" href= {{pathFor 'menuInfo'}}>Back</a>
            </div>
        </div>

    </form>
</template>