
<template name = "menuPage">

    <div class="center">
        <div class="pageheader">
            <h1>Menu</h1>
        </div>
        <div class="menu">
            <ul class="category">
                <li><button class="food" type="button">Food</button></li>
                <li><button class="beverage" type="button">Beverage</button></li>
            </ul>

            <ul class="menulist">
                <li><button id="menu1"><h3> Hot Espresso</h3><h4>฿50</h4></button></li>
                <li><button id="menu2"><h3>Iced Cappucino</h3><h4>฿60</h4></button></li>

            </ul>

            <button class="add_item" type="button">Add Item</button>
        </div>

        <div class="basket">
            <h2>Your Basket</h2>
            <div class="myorder">
                <table class="myorder_table">
                    <tr>
                        <th>Item Name</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    <tr>
                        <td>Espresso</td>
                        <td>50</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>


</template>
