
<template name = "menuPage">

            <div class="center">
                <div class="pageheader">
                    <h1>Menu</h1>
                </div>


                <div id="menu-panel">
                    <nav id="nov01">
                        <ul class="category">
                            <li><button id="drink-butt" class="selected" type="button">Drink</button></li>
                            <li><button id="food-butt" type="button">Food</button></li>
                            <button id="cd-cart-trigger" class="cart" type="button">Cart</button>
                        </ul>
                    </nav>

                    <ul id="drink-list">
                        <li id="item" class="drink-item">
                            <button type="button" class="menu">
                                <h3>Late</h3>
                                <h4>$50</h4>
                            </button>
                            <button type="button" class="delete-btn">X</button>
                        </li>
                        {{#each drinkMenu}}
                            <li id= "item" class="drink-item" data-id={{_id}}>
                                <button type="button" class="menu">
                                    <h3>{{name}}</h3>
                                    <h4>{{price}}</h4>
                                </button>
                                <button type="button" class="delete-btn">X</button>
                            </li>
                        {{/each}}
                    </ul>


                    <ul id="food-list">
                        {{#each foodMenu}}
                            <li id="item" class="food-item" data-id={{_id}}>
                                <button type="button" class="menu">
                                <h3>{{name}}</h3>
                                <h4>{{price}}</h4>
                                </button><button type="button" class="delete-btn">X</button>
                            </li>
                        {{/each}}
                    </ul>



                    <div class="btn-panel">
                            <button id="add_item_butt" type="button">Add Item</button>
                            <button id="edit_item_butt" type="button">Edit</button>
                            <button id="delete_item_butt" type="button">Delete</button>
                    </div>


                </div>
            </div>


             <!-- CART  -->
            <div id="cd-shadow-layer"></div>
            <div id="cd-cart">
                
                <h2>Cart</h2>
                <ul class="cd-cart-items" id="cd-cart-item" >
                    {{#each cartItems}}
                        <li class="item" data-id={{_id}}>
                            <span class="cd-qty">
                                {{quantity}}
                            </span>
                            <span class="cd-name">
                                {{name}}
                            </span>
                            <div class="cd-price">
                                ฿{{price}}
                            </div>
                           <a href="#0" class="cd-item-remove"><span>Remove</span></a>

                        </li>
                    {{/each}}

                </ul>
                

                <div class="cd-cart-total">
                    <p>Total <span>0 Baht</span></p>
                </div> <!-- cd-cart-total -->
                <a href="#0" class="checkout-btn">Checkout</a><br>
                <a href="#0" class="close-cart-btn">Close Cart</a>
            </div> <!-- cd-cart -->


            <!-- ADD ITEM -->
            <div id="add_item">
                <h1>New Menu</h1>
                <img id="preview_image" src= "/default_coffee.jpg">

                <div class="detail">
                    <p class="browsepic">Picture:<input multiple class = "file fileInput" id="item-image" type="file"/></p>

                    <p class="type">Type: <input id="type-drink" type="radio" name="type" checked="checked"/>Drink
                        <input id="type-food" type="radio" name="type"/>Food</p>

                    <p>Promotion: <input type="checkbox" id="promotion" value=true></p>
                    <p>Valid Until: <input type="date" id = "validTill"></p>
                    <p>Name: <input id="name-input" type="text"/></p>
                    <p>Price: <input id="price-input" type="text"/></p>
                   <!-- <p id="description"><span>Description:</span><textarea id="descrpt-input" rows="5" cols="50"></textarea></p> -->
                </div>

                <div class="add_button">
                    <button id="add-to-save-butt">Add</button>
                    <button id="cancel-add-butt">Cancel</button>
                </div> 
            </div>


</template>
