
<template name = "menuPage">

    <div class="center">
        <div class="pageheader">
            <h1>Menu</h1>
        </div>
        <div class="showorder">
            <div class="category">
                <button class="food" type="button">Food</button>
                <button class="beverage" type="button">Beverage</button>
            </div>
            <div class="items">
                <ul>
                    <li><img src="https://storiesforsupper.files.wordpress.com/2013/02/espresso.jpg" />
                        <div class="itemdetail">
                            <div class="itemname">Espresso</div>
                            <div class="itemprice">60</div>
                            <input type="checkbox"><a> Out of Stock </a>
                            <div>
                                <button class="orderbut">Order</button>
                                <button class="Editbut">Edit</button>
                            </div>
                        </div>
                    </li>
                    <li><img src="http://globalassets.starbucks.com/assets/c399164ad0f94aecbe0e51a72324c9bc.jpg" /></li>
                    <div class="itemdetail">
                        <div class="itemname">Americano</div>
                        <div class="itemprice">60</div>
                        <input type="checkbox"><a> Out of Stock </a>
                        <div>
                            <button class="orderbut">Order</button>
                            <button class="Editbut">Edit</button>
                        </div>
                    </div>
                    <li><img src="http://upload.wikimedia.org/wikipedia/commons/4/4f/Cappuccino_at_Lund.jpg" /></li>
                    <div class="itemdetail">
                        <div class="itemname">Cappucino</div>
                        <div class="itemprice">60</div>
                        <input type="checkbox"><a> Out of Stock </a>
                        <div>
                            <button class="orderbut">Order</button>
                            <button class="Editbut">Edit</button>
                        </div>
                    </div>
                </ul>
            </div>
        </div>

        <div class="basket">

        </div>

    </div>


</template>
