<!DOCTYPE html>
<html>
    <head>
        <title> BOII Order Page </title>
        <link rel="stylesheet" href="/mainstyle.css" />
        <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="main">
            <div id="mainpage-header">
                <div>
                    <img id="logo" src="/picture/dish.png" />
                    <span>BOII</span>
                    <a id="contact">Contact Support: 02-1661215 </a>
                </div>
            </div>
            <!---------------------------------------Menu Bar--------------------------------------->
            <div id="mainpage-menu">
                <ul>
                    <li><a href="/OrderListPage.html"> Order </a></li>
                    <li><a href="/MenuPage.html"> Menu </a></li>
                    <li><a href="/ReportPage.html"> Report </a></li>
                    <li><a href="#employee"> Employee </a></li>
                    <li><a href="#cafeinfo"> Cafe Information </a></li>
                    <button id="logout-btn" type="button"><a href="/MainPage.html">Log out</a></button>
                </ul>
            </div>
            <!---------------------------------------Content--------------------------------------->
            <div class="center">
                <div class="pageheader">
                    <h1>Cafe Information</h1>

                </div>
                <div id="info-panel">

                    <h2>Owner Information</h2>
                    <table id="owner-info">
                        <tr>
                            <td>Name:</td><td><p id="owner-name">Harin</p></td>

                        </tr>
                        <tr>
                            <td>Email:</td><td><p id="owner-email">harin@gmail.com</p></td>

                        </tr>
                        <tr>
                            <td>Phone Number:</td><td><p id="owner-phone">081-1234567</p></td>

                        </tr>
                    </table>

                    <h2>Cafe Information</h2> 
                    <table id="cafe-info">
                        <tr>
                            <td class="title">Cafe Name:</td><td><p id="cafe-name">Harinza</p></td></tr>
                        <tr><td class="title">Email:</td><td><p id="cafe-email">harinza@gmail.com</p></td></tr>
                        <tr><td class="title">Contact:</td><td><p id="cafe-contact">081-1234567</p></td>
                        </tr>
                        <tr>
                            <td class="title">Address Number:</td><td><p id="cafe-add-num">34</p></td>
                            <td class="title">Floor:</td><td><p id="cafe-floor">-</p></td>
                            <td class="title">Building:</td><td><p id="cafe-building">-</p></td>
                        </tr>
                        <tr>
                            <td class="title">Street/Soi:</td><td><p id="cafe-street">80/12</p></td>
                            <td class="title">Sub-District:</td><td><p id="cafe-subdistrict">Ladprao</p></td>
                            <td class="title">District:</td><td><p id="cafe-district">Ladprao</p></td>
                        </tr>
                        <tr>
                            <td class="title">Province:</td><td><p id="cafe-province">Bangkok</p></td>
                            <td class="title">Country:</td><td><p id="cafe-country">Thailand</p></td>
                            <td class="title">Post Code:</td><td><p id="cafe-postcode">10120</p></td>
                        </tr>
                    </table>
                    <button id="edit_info_butt" type="button">Edit</button>
                </div>
            </div> 
            <!---------------------------------------FOOTER--------------------------------------->        
            <div class="footer">
                <div class="fblogo">
                    <a href="http://www.facebook.com">
                        <img src="https://www.facebook.com/images/fb_icon_325x325.png"/>
                    </a>
                </div>
                <div class="foottext">
                    <h1>ICE Senior Project</h1>
                    <h2>Faculty of Engineering, Chulalongkorn University</h2>
                    <h3>Call Center: 02-4567890</h3>
                    <a href="http://www.google.co.th"> Privacy Policy </a>
                </div>
            </div>
        </div>
    </body>
    <script src="/jquery/jquery.js"></script>
    <script src="/jquery/jquery-ui-1.8.10.offset.datepicker.min.js"></script>
    <script src="/order.js"></script>
</html>