
<template name="cafeInfoPage">


    <div class="show-info">
        {{>restaurant_info}}

        <div id="buttons">

            <a href={{pathFor 'cafeRegisterPage'}}><button class = "btn btn-primary" type="button" id="back-button">New Restaurant</button></a>
        </div>

    </div>



</template>

<template name="restaurant_info">
    <h1>Restaurants</h1>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Menus</th>
            </tr>
            </thead>
            <tbody>
            {{#each findRestaurant}}
                <td>{{_id}}</td>
                <td>{{name}}</td>
                <td>{{menu}}</td>
            {{/each}}


            </tbody>
        </table>
    </div>
</template>


