
/*------------------------------FOOTER---------------------------------------------*/

.footer{
    position: relative;
    background-color: lightgreen;
}
.foottext{
    padding: 2em;
}
.fblogo img{
    float: right;
    max-height: 100px;
    position: relative;
    right: 20px;
    top: 20px;
}
