html{
    margin: auto;
    padding: 0px;
    min-width: 900px;
    font-size: 16px;
    line-height: 1em;
    background-color: white;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
#mainpage-header{
    height: 70px;
    background: url("bg3.jpg");
}
#logo-div{
    width: 220px;
    float: left;
}
#mainpage-header span{
    font-size: 40px;
    margin-left: 20px;
    position: relative;
    top: 10px;
    text-shadow: 3px 2px 20px #333333;
    color: aliceblue;
}
#boii-logo{
    margin-left: 10px;
    max-height: 50px;
}
/*------------------------------MENU BAR-----------------------------------------*/
#mainpage-menu{
    font-size: 20px;
    height: 70px;
    font-weight: bold;
    text-shadow: 3px 2px 30px #333333;
    line-height: 40px;
}
#mainpage-menu li{
    display: inline-block;
    padding: 20px 30px;
}
#mainpage-menu a{
    color: aliceblue;
    text-decoration: none;
}
#mainpage-menu a:hover, #mainpage-header span:hover{
    color: #617783;
    text-decoration: none;
}
#mainpage-menu li:first-child {
    margin-left: -40px;
}
#mainpage-menu li:last-child{
    float: right;
}
.main_div{
    /*  border-top: 1px solid #919394;*/
    padding: 5px;
    margin: auto;
    width: 100%;
    padding-bottom: 50px;
}
.main_div h1{
    text-align: center;
    margin: 0px;
    padding: 40px 0px 20px 0px;
}
.container{
    width: 100%;
    padding: 0px;
    background: url("/texture_whitepaper.jpg");
}
.container:after, .container:before{
    content: none;
}
#order-noti{
    background-color: #D9534F;
    color: aliceblue;
    padding-top: 4px;
    padding-bottom: 5px;
}
#mainpage-menu span{
    position: absolute;
    top: 25px;
    left: 240px;
    max-height: 15px;
    font-size: 13px;
    line-height: 7px;
}
#signIn .form-group{
    margin-left: 0px;
}
/*------------------------------------OVERVIEW-----------------------------------*/
#overview{
    background: url("/texture_bluewood.jpg");
    color: aliceblue;
    padding-top: 30px;
    height: auto;
    font-size: 16px;
}
#overview ul{
    margin: 0 auto;
}
#overview ul li{
    display: inline-block;
    height: 315px;
    margin: auto;
    vertical-align: middle;
}
#overview ul li:last-child{
    width: auto;
    height: 315px;
    padding: 30px 0px 30px 30px;
}
#overview-content span{
    font-weight: bold;
}
#overview-content{
    max-width: 400px;
    min-width: 200px;
    position: relative;
    bottom: 40px;
}
/*------------------------------------FEATURES-----------------------------------*/
#features{
    background: url("/texture_whitepaper.jpg");
    color: #215877;
}
.features_table{
    text-align: center;
    font-size: 20px;
    padding: 0px 40px;
}
.features_table li{
    display: inline-block;
    margin: auto;
    font-size: 18px;
}   
.features_table h3{
    font-weight: bold;
}
/*------------------------------------CAFE LIST----------------------------------*/
#cafelist{
    height: auto;
    background: url("/texture_lightblue.jpg");
    color: #215877;
}
#cafelist ul{
    margin: 0 auto;
}
#cafelist ul li{
    display: inline-block;
    margin: 20px 20px 0px 20px;
    text-align: center;
    width: 200px;
}
#cafelist img{
    max-height: 150px;
    max-width: 200px;
}
#cafelist h3{
    margin-top: 5px;
}
/*------------------------------Center-------------------------------------------*/
.center{
    padding: 10px;
    background: url("texture_whitepaper.jpg");
    padding-bottom: 20px;
}
.pageheader{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    letter-spacing: -1px; 
    text-transform: uppercase; 
    text-shadow: 1px 1px 0 #000;
    margin: 10px 0 24px; 
    background: url("texture_bluepaper.jpg");
    color: aliceblue;
    height: 50px;
    border-radius: 5px;
}
.pageheader h1{
    line-height: 50px;
}
/*---------------------------------MENU Tab------------------------------------------*/
#menu-panel{
    height: 750px;
    border: 1px solid black;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    max-width: 1200px;
}
.category{
    margin: auto;
    background: url("texture_bluewood.jpg");
    padding: 10px;
    border-radius: 5px;
}
.category li{
    display: inline;
    border-right: 5px solid black;
}
.category button{
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    background: url("texture_bluewood.jpg");
    color: aliceblue;
    border: none;
}
.category button:hover{
    cursor: pointer;
}
#drink-butt.selected, #food-butt.selected{
    background:#3A4246;
}
.category button:active{
    background: #1F2121;
}
#cd-cart-trigger{
    float: right;
    background: #1F2121;
    color: aliceblue;
    border-radius: 10px;
}
/*---------------------------------MENU LIST-------------------------------------*/
.invisible{
    display: none;
}
#drink-list,  #food-list{
    list-style: none;
    height: 550px;
    max-width: 1200px;
    overflow: auto;
    position: absolute;
    text-align: left;
}
#drink-list li, #food-list li{
    display: inline-block;
    margin: 20px 20px 0px 20px;
    height: 100px;
}
#drink-list .menu, #food-list .food-menu{
    width: 180px;
    height: 100px;
    padding-top: 12px;
    border-radius: 5px;
    background: #2B5165;
    color: #FFFFFF;
}
#drink-list h3, #food-list h3{
    position: relative;
    height: 50px;
    bottom: 1em;
    font-size: 16px;
    line-height: 25px;
}
#drink-list h4,#food-list h4{
    position: relative;
    bottom: 40px;
    font-size: 15px;
}
#drink-list .menu:hover, #food-list .menu:hover{
    cursor: pointer;
}
#drink-list .menu:active, #food-list .menu:active{
    background: #2870F6;
}
#item p{
    position: relative;
    bottom: 30px;
    width: 50px;
    z-index: 3;
    margin: 0px;
}
#item-detail{
    color: aliceblue;
}
.delete-btn{
    height: 35px;
    width: 35px;
    position: relative;
    left: 90px;
    bottom: 150px;
    border-radius: 20px;
    font-size: 20px;
    background: red;
    color: white;
    font-weight: bold;
    display: none;
    z-index: 3;
}
/*----------------------------Menu Button Panel----------------------------------*/
.btn-panel{
    position: relative;
    top: 75%;
    left: 35%;
    width: 100%;
}
.btn-panel button{
    height: 80px;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
#add_item_butt{
    width: 300px;
    background: #144060;
}
#delete_item_butt{
    margin-left: 30px;
    width: 100px;
    background: #D9534F;
}
#add_item_butt:hover, #delete_item_butt:hover{
    cursor: pointer;
}
#add_item_butt:active, #delete_item_butt:active{
    background: #1A699F;
}
/*---------------------------------CART------------------------------------------*/
#cd-cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    /* header height */
    padding-top: 50px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
}#cd-cart > * {
    padding: 0 1em;
}
#cd-cart h2 {
    font-size: 14px;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
}
#cd-cart .cd-cart-items {
    padding: 0;
}
#cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
}
#cd-cart .cd-price {
    margin-top: .4em;
}
#cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background: url('/remove.png') center center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
#cd-cart .cd-item-remove span{
    visibility: hidden;
}
#cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
    float: right;
}
#cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#cd-cart .checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7dcf85;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#cd-cart .checkout-btn:hover {
    background: #a2dda8;
}
#cd-cart .close-cart-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FA8258;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#cd-cart .close-cart-btn:hover{
    background: #F79F81;
}
#cd-cart {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background: white;
    /* header height */
    padding-top: 50px;
    overflow-y: auto;
    transition: right 0.3s;
}
#cd-cart.speed-in {
    right: 0;
}
/*-----------------------------Shadow Layer--------------------------------------*/
#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 4;
    display: none;
}
#cd-shadow-layer.is-visible, #not-avail-shadow.is-visible{
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
#not-avail-shadow{
    position: absolute;
    width: 180px;
    height: 100px;
    top: 20px;
    border-radius: 5px;
    background: rgba(67, 87, 121, 0.6);
    z-index: 2;
}
/*---------------------------------Add ITEM--------------------------------------*/
#add_item{
    position: relative;
    top: -800px;
    width: 50%;
    width: 600px;
    margin: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 4;
    background: url("texture_whitepaper.jpg");
    display: none;
    border-radius: 5px;
    padding: 10px 0px;
    font-size: 20px;
}
#add_item.speed-in{
    display:block;
}
#add-item-header{
    text-align: center;
}
#add_item div{
    width: 300px;
    margin: auto;   
}
#preview_image{
    display: block;
    margin: auto;
    height: 100%;
    width: 100%;
}
#picture-label{
    margin-top: 20px;
}
#item-image{
    padding: 4px;
    font-size: 16px;
}
#food-drink-div p{
    margin-top: 10px;
}
#food-drink-div select{
    margin-left: 32px;
}
#label-promotion input{
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
#name-input{
    width: 200px;
    margin-left: 25px;
}
#price-input{
    margin-left: 32px;
    width: 200px;
}
.req:before{
    content:"*";
    color:red;
}
#valid-panel input{
    height: 25px;
    margin-left: 10px;
}
.add_button {
    margin: 0 auto;
    padding: 20px 0px;
    text-align: center;
}
.add_button button{
    width: 100px;
    height: 60px;
    font-size: 20px;
    border-radius: 5px;
    background: #144060;
    color: aliceblue;
}
#cancel-add-butt{
    margin-left: 30px;
}
/*------------------------------Menu Info----------------------------------------*/
.item-info{
    width: 600px;
    margin: auto;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
}
.item-info h2{
    text-align: center;
    margin: 30px 0px;
}
.item-info #info-btn-panel{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.item-info a{
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
}
.item-info a:hover{
    color: aliceblue;
}
.item-info h3{
    font-size: 20px;
}
#item-info-preview{
    margin: auto;
    height: 230px;
    width: 200px;
    
}
#item-info-item-detail{
    width: 300px;
    margin: 20px auto;
}
#edit_item_butt{
    background: #144060;  
}
#back_item_butt{
    background: #144060;
    margin-left: 20px;
}
#edit_item_butt:active,#back_item_butt:active{
    background: #1A699F;
}
.item-info span{
    margin-left: 1em;
    font-weight: bold;
}
/*------------------------------Edit Item----------------------------------------*/
.edit-panel{
    width: 600px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
    padding: 20px;
}
#edit-menu-detail-panel{
    width: 350px;
    margin: auto;
}
#edit-menu-detail-panel input{
    width: 200px;
}
#edit-menu-detail-panel label{
    width: 105px;
    text-align: left;
}
#edit-menu-detail-panel select{
    width: 200px;
}
#edit-menu-btn-panel a{
    height: 50px;
    width: 100px;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
}
#edit-menu-btn-panel{
    text-align: center;
}
#promotion{
    width: 20px;
}
#save-btn{
    background: #144060;
}
#edit-menu-back-btn{
    margin-left: 20px;
    background: #144060;
}
#save-btn:active, #edit-menu-back-btn:active{
    background: #1A699F;
}
/*------------------------------Order--------------------------------------------*/
.showorder{
    margin: 0 auto;
    height: 800px;
    min-width: 850px;
    max-width: 1200px;
    border: 1px solid black;
    background: white;
    border-radius: 5px;
    overflow: auto;
}
.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-buttons{
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: none repeat scroll 0% 0% #FC7169;
    border-radius: 0px 0px 0px 0.25em;
}
.cd-popup-container .cd-buttons li:last-child a {
    background: none repeat scroll 0% 0% #B6BECE;
    border-radius: 0px 0px 0.25em;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s ease 0s;
    text-decoration: none;
}
.cd-buttons{
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}
.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
    position: relative;
    width: 90%;
    max-width: 400px;
    height: 130px;
    margin: 4em auto;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    top: 30%;
}
.cd-popup-container p{
    padding: 3em 1em;
    color: #8F9CB5;
}
.is-visible .cd-popup-container {
    transform: translateY(0);
    top: 30%;
}
/*------------------------------Order Table--------------------------------------*/
#table-header{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 0px;
    background: url("texture_bluewood.jpg");
    color: aliceblue;
    height: 40px;
}
.order_table{
    text-align: center;
    width: 100%;
}
.order_table th{
    text-align: center;
}
.order_table tr{
    outline: 1px solid;
    color: #215877;
}
.order_code{
    width: 100px;
}
.order_time{
    width: 100px;
}
.order_date{
    width: 120px;
}
.order_items{
    width: 250px
}
.order_qty{
    width: 30px;
}
.order_action{
    width: 300px;
}
.item_button button{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 5px;
    border: 1px solid;
}
.item_button button:hover{
    box-shadow: 0px -1px 1px 1px #919394 inset;
    cursor: pointer;
}
.item_button button:active{
    font-weight: 800;
}
#accept_but{
    background: #5CB85C;
}
#reject_but{
    background: #D9534F;
}
#ready_but{
    background: green;
}
#bill_but{
    background: #EC900F;
}
/*---------------------------------Report----------------------------------------*/
#show-report{
    min-width: 900px;
    margin: 0px 50px;
    padding: 20px;
    background-color: #FFFFF0;
    color: #215877;
}
.report{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}
.report h1{
    margin-bottom: 20px;
}
.report select{
    width: 300px;
    margin-bottom: 20px;
}
.report input{
    margin-left: 2em;
    text-align: center;
}
/*------------------------------Register Center----------------------------------*/
#register-center {
    padding-bottom: 300px;
}

#register-center td{

    padding: 5px 10px;
    font-weight: 600;
}
#register-center input{
    margin-left: 20px;
    /*height: 25px;*/
    font-size: 15px;
    width: 240px;
    /*line-height: 25px;*/
}
#register-center h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-left: 10px;
}
.form-group p{
    margin-left: 40px;
}
.form-group span{
    margin-left: 100px;
}
/*#buttons{*/
    /*width: 550px;*/
/*}*/
/*#buttons button{*/
    /*height: 80px;*/
    /*width: 150px;*/
    /*border-radius: 5px;*/
    /*/!*margin: 20px;*!/*/
    /*font-size: 20px;*/
    /*font-weight: 600;*/
    /*margin-left: 80px;*/
/*}*/
form#cafe-info{
    padding-bottom: 400px;
}
#regis-button{
    height: 80px;
    width: 150px;
    border-radius: 5px;
    /*margin: 20px;*/
    font-size: 20px;
    font-weight: 600;
    margin-left: 450px;
    line-height: 55px;
}
#back-button{
    height: 80px;
    width: 150px;
    border-radius: 5px;
    /*margin: 20px;*/
    font-size: 20px;
    font-weight: 600;
    line-height: 55px;
}
#buttons button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px #ECECEC inset;
}
#buttons button:active{
    background: #ACB4BA;
}
#cre-new-res{
    width: 500px;
    margin: auto;
    margin-top: 20px;
}
#new-res-button{
    height: 80px;
    width: 500px;
    font-size: 20px;
    margin: auto;
}
.form-group.required .control-label:before {
    content:"*";
    color:red;
}

#requireBeacon{
    margin-left: 20px;
    width: 240px;
}

textarea#adPhrase {
    margin-left: 20px;
    width: 400px;
    height: 100px;
    margin-top: 10px;
}
/*----------------------------Cafe Info Panel------------------------------------*/
#info-panel{
    margin: 0 auto;
    height: auto;
    min-width: 850px;
    max-width: 1200px;
    border: 1px solid #215877;
    background-color: #FFFFF0;
    border-radius: 10px;
    padding-bottom: 20px;
    color: #215877;
}
#info-panel h2{
    border-bottom: 1px solid #215877;
    padding-bottom: 5px;
    margin-left: 10px;
}
#info-panel td{
    padding: 5px 10px;
    font-weight: 600;
}
#info-panel table{
    min-width: 900px;
    margin-left: 40px;
}
#info-panel .title{
    font-weight: bold;
    font-size: 18px;
}
#edit_info_butt{
    width: 150px;
    height: 60px;
    background: #144060;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    position: relative;
    margin-top: 20px;
    left: 45%;
    line-height: 40px;
}
#logo-image-cafe{
    width: 200px;
    height: 200px;
    margin: auto;
}

/*----------------------------Cafe Edit Panel------------------------------------*/
#cafe-edit-panel{
    margin: 0 auto;
    height: 1000px;
    min-width: 850px;
    max-width: 1200px;
    border: 1px solid #215877;
    background-color: #FFFFF0;
    border-radius: 10px;
    /*margin-bottom: 200px;*/
    color: #215877;
    padding: 20px;
}
.owner-info{
    margin: 0px;
    height: 50px;
}
#cafe-owner-info{
    height: 150px;
}
#cafe-edit-panel h2{
    margin: 0px 0px 20px 20px;
    border-bottom: 1px solid #215877;
}
#edit-btn-panel{
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}
#cancel-edit{
    margin-left: 50px;
}
#edit-btn-panel a{
    width: 150px;
    height: 60px;
    line-height: 40px;
}
#cafe-edit-panel{
    width: 300;
    height: 250;
}
/*---------------------------------FOOTER----------------------------------------*/
.footer{
    margin: auto;
    background: url("/texture_bluepaper.jpg");
    color: aliceblue;
    border: 1px solid #919394;
    padding: 20px;
}
.foottext{
    margin: auto;
    font-size: 20px;
    width: 500px;
    text-align: center;
}
.fblogo img{
    max-height: 60px;
    border: 3px solid white;
    border-radius: 10px;
}