html{



    background-image: url("/bg1.jpg");

}
body{
    margin: auto;
    padding: 0px;
    min-width: 900px;
    font-size: 16px;
    line-height: 1em;
    background-color: white;
    font-family: Lato;
    max-width: 1200px;
}
#mainpage-header{
    height: 70px;
    background-color: #2D94EE;
}
#mainpage-header span{
    font-size: 40px;
    margin-left: 40px;
    position: relative;
    top: 15px;
    font-weight: bold;
    text-shadow: 3px 2px 20px #333333;
    color: #F1F5F8;
}
#logo{
    margin-top: 10px;
    margin-left: 10px;
    max-height: 50px;
}
#contact {
    float: right;
    font-size: 18px;
    padding: 10px 40px;
    margin-top: 10px;
    background-color: #D6DEE0;
    border-radius: 100px 0px 0px 100px;
    color: #153BFA;
    font-weight: bold;
    border: 5px solid #F0F1F1;  
}
/*------------------------------MENU BAR---------------------------------------------*/
#mainpage-menu{
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 3px 2px 30px #333333;
    background: #7C818C;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 30px 30px 0px #B0B8C6 inset;
}
#mainpage-menu li{
    display: inline-block;
    padding: 20px 30px;
}
#mainpage-menu a{
    color: #F0F1F4;
    text-decoration: none;
}
#mainpage-menu a:hover{
    color: #F90;
}
#mainpage-menu li:first-child {
    margin-left: -40px;
}
#mainpage-menu li:last-child{
    float: right;
}
.main_div{
    border: 1px solid #919394;
    padding: 5px;
}
.main_div h1{
    text-align: center;
    text-shadow: 3px 2px 50px #9FC7F1;
    color: #67696B;
}
/*------------------------------------OVERVIEW-----------------------------------*/

#overview{
    height: 450px;
    background: #CDEBFF;
    box-shadow: 30px 90px 100px 0px #FFFFFF inset, -30px -30px 100px 0px #FFFFFF inset;
}

.summary_table{
    margin: 50px 50px;
    text-align: center;
    font-size: 20px;
    margin: auto;
}
.summary_table td{
    width: 500px;
    padding-top: 20px;
}
.summary_table p{
    width: 300px;
    height: 50px;
    margin: auto;
    margin-top: 1em;
}
.summary_table span{
    font-weight: bold;
}
.summary_table #logo{
    box-shadow: 10px 0px 20px 5px #FFFFFF, -10px -0px 20px 5px #FFFFFF;
}
/*------------------------------------FEATURES-----------------------------------*/
#features{
    height: 400px;
    background: #FCBC8E;
    box-shadow: 10px 90px 100px 0px #FFFFFF inset,-10px -30px 100px 0px #FFFFFF inset,30px 30px 100px 0px #FDCC82 inset, -30px -30px 100px 0px #FDCC82 inset;
}
.features_table{
    margin: 50px 50px;
    text-align: center;
    font-size: 22px;
}
.features_table td{
    width: 500px;
    height: 50px;
}   
.features_table h3{
    font-weight: bold;
    text-decoration: underline;
}
/*------------------------------------CAFE LIST-----------------------------------*/
#cafelist{
    height: auto;
    background-color: #9AFF8F;
    box-shadow: 10px 90px 100px 0px #FFFFFF inset,-10px -30px 100px 0px #FFFFFF inset,30px 30px 100px 0px #61FF4F inset, -30px -30px 100px 0px #61FF4F inset;
}
#cafelist ul li{
    display: inline-block;
    margin: 50px 20px;
    text-align: center;
    width: 300px;
}
#cafelist img{
    max-height: 150px;
    max-width: 200px;
}
#cafelist h3{
    margin-top: 5px;
}
/*------------------------------Register Center---------------------------------------------*/
#register-center{
    height: auto;
    padding: 10px;
    background-color: white;
    padding-bottom: 50px;
}
#register-center td{
    padding: 5px 10px;
    font-weight: 550;
}
#register-center input{
    margin-left: 20px;
    height: 25px;
    font-size: 20px;
    width: 200px;
}
#register-center h1{
    text-align: center;
    height: 50px;
}
#register-center h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#buttons{
    width: 800px;
    margin: auto;
}
#buttons button{
    height: 100px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 80px;
}
#buttons button:hover{
    cursor: pointer;
    box-shadow: 0px -5px 10px 1px #919394 inset;
}
#buttons button:active{
    background: #ACB4BA;
}
/*------------------------------Center---------------------------------------------*/
.center{
    padding: 10px;
    background-color: white;
}
.pageheader{
    text-align: center;
    font-size: 20px;
}
/*---------------------------------MENU--------------------------------------*/
#menu-panel{
    height: 850px;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
    margin: auto;
}
.category{
    margin: auto;
    background: #24A8FF;
    padding: 10px;
}
.category li{
    display: inline;
    border-right: 5px solid black;
}
.category button{
    width: 200px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 10px;
    background: #24A8FF;
    color: #EEF9FF;
    border: none;
}
.category button:hover{
    cursor: pointer;
}
#drink-butt.selected, #food-butt.selected{
    background:#3A4246;
}
.category button:active{
    background: #1F2121;
}
#cd-cart-trigger{
    float: right;
    background-color: #1F2121;
    color: #FFFFFF;
    border-radius: 10px;
}
/*---------------------------------MENU LIST--------------------------------------*/
#drink-list,  #food-list{
    list-style: none;
    height: 600px;
    max-width: 1440px;
    overflow: auto;
    position: absolute;
    margin: auto;
}
#drink-list li, #food-list li{
    display: inline-block;
    margin: 20px;
}
#drink-list .menu, #food-list .menu{
    width: 200px;
    height: 100px;
    padding-top: 12px;
    border-radius: 20px;
    background: #001034;
    color: #FFFFFF;
}
#drink-list h3, #food-list h3{
    position: relative;
    height: 50px;
    bottom: 1em;
}
#drink-list h4,#food-list h4{
    position: relative;
    bottom: 40px;
}
#drink-list input, #food-list input{
    color: black;
}
#drink-list .menu:hover, #food-list .menu:hover{
    cursor: pointer;
}
#drink-list .menu:active, #food-list .menu:active{
    background: #2870F6;
}
#food-list.invisible{
    display: none;
}
#drink-list.invisible{
    display: none;
}
.item-name{    
    font-size: 16px;
    width: 150px;
    text-align: center;
}
.item-price{
    font-size: 16px;
    width: 80px;
    text-align: center;
}
.delete-btn{
    height: 35px;
    width: 35px;
    position: relative;
    right: 20px;
    bottom: 40px;
    border-radius: 20px;
    font-size: 20px;
    background: red;
    color: white;
    font-weight: bold;
    display: none;
}
.edit-item-btn{
    width: 100px;
    background: grey;
    color: white;
    border-radius: 5px;
}


/*---------------------------------Menu Button Panel--------------------------------------*/
.btn-panel{
    position: relative;
    top: 80%;
    left: 40%;
    width: 100%;
}
.btn-panel button{
    height: 80px;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
}
#add_item_butt{
    width: 300px;
    background: #24A8FF;
}
#edit_item_butt{
    width: 100px;
    margin-left: 30px;
    background: #5CB85C;;
}
#delete_item_butt{
    margin-left: 30px;
    width: 100px;
    background: #D9534F;;
}
#add_item_butt:hover, #edit_item_butt:hover, #delete_item_butt:hover{
    cursor: pointer;
}
#add_item_butt:active, #edit_item_butt:active, #delete_item_butt:active{
    background: #1A699F;
}
/*---------------------------------CART--------------------------------------*/
#cd-cart {
    position: fixed;
    top: 0;
    height: 100%;
    width: 300px;
    /* header height */
    padding-top: 50px;
    overflow-y: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3;
}#cd-cart > * {
    padding: 0 1em;
}
#cd-cart h2 {
    font-size: 14px;
    font-size: 1.875rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1em 0;
    text-decoration: underline
}
#cd-cart .cd-cart-items {
    padding: 0;
}
#cd-cart .cd-cart-items li {
    position: relative;
    padding: 1em;
    border-top: 1px solid #e0e6ef;
}
#cd-cart .cd-cart-items li:last-child {
    border-bottom: 1px solid #e0e6ef;
}
#cd-cart .cd-qty, #cd-cart .cd-price {
    color: #a5aebc;
}
#cd-cart .cd-price {
    margin-top: .4em;
}
#cd-cart .cd-item-remove {
    position: absolute;
    right: 1em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    background: url("/remove.png") center center;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
}
#cd-cart .cd-item-remove span{
    visibility: hidden;
}
#cd-cart .cd-cart-total {
    padding-top: 1em;
    padding-bottom: 1em;
}
#cd-cart .cd-cart-total span {
    float: right;
}
#cd-cart .cd-cart-total::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
}
#cd-cart .checkout-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #7dcf85;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#cd-cart .checkout-btn:hover {
    background: #a2dda8;
}
#cd-cart .close-cart-btn {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #FA8258;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}
#cd-cart .close-cart-btn:hover{
    background: #F79F81;
}
#cd-cart {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    background: white;
    /* header height */
    padding-top: 50px;
    overflow-y: auto;
    transition: right 0.3s;
}
#cd-cart.speed-in {
    right: 0;
}
/*---------------------------------Shadow Layer--------------------------------------*/
#cd-shadow-layer {
    position: fixed;
    min-height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(67, 87, 121, 0.6);
    cursor: pointer;
    z-index: 2;
    display: none;
}
#cd-shadow-layer.is-visible {
    display: block;
    -webkit-animation: cd-fade-in 0.3s;
    -moz-animation: cd-fade-in 0.3s;
    animation: cd-fade-in 0.3s;
}
/*---------------------------------Add ITEM--------------------------------------*/
#add_item{
    position: relative;
    top: -800px;
    width: 50%;
    min-width: 600px;
    margin:auto;
    padding-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 3 ;
    background: white;
    display: none;
    border-radius: 10px;
}
#add_item.speed-in{
    display:block;
}
#add_item h1{
    margin: 0 auto;
    width: 200px;
    margin-bottom: 50px;
    text-decoration: underline;
}
.browsepic input{
    width: 70%;
    border: 1px solid black;
}
.detail {
    margin-left: 10%;
    font-size: 25px;
}
.detail input{
    height: 30px;
    margin-left: 20px;
    font-size: 20px;
}
#name-input{
    width: 300px;
}
#price-input{
    margin-left: 30px;
}
#descrpt-input{
    margin-left: 30px;
    font-size: 15px;
}
.detail button{
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    height: 45px;
    width: 100px;
}
.detail span{
    position: relative;
    top: -30px;
}
.type input{
    width: 20px;
    height: 20px;
}
.add_button {
    margin: 0 auto;
    width: 335px;
    padding-bottom: 20px;
}
.add_button button{
    width: 150px;
    height: 80px;
    font-size: 30px;
    border-radius: 10px;
}
#cancel-add-butt{
    margin-left: 30px;
}
#preview_image{
    display: block;
    margin: auto;
    border: 1px solid black;
    max-height: 200px;
    max-width: 250px;
}
/*------------------------------Order---------------------------------------------*/
.showorder{
    margin: 0 auto;
    height: 800px;
    min-width: 850px;
    max-width: 1200px;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
    overflow: auto;
}
.cd-popup {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;

    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(94, 110, 141, 0.9);
}
.cd-popup.is-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-buttons{
    list-style: outside none none;
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}
.cd-popup-container .cd-buttons li {
    float: left;
    width: 50%;
}
.cd-popup-container .cd-popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.cd-popup-container .cd-buttons li:first-child a {
    background: none repeat scroll 0% 0% #FC7169;
    border-radius: 0px 0px 0px 0.25em;
}
.cd-popup-container .cd-buttons li:last-child a {
    background: none repeat scroll 0% 0% #B6BECE;
    border-radius: 0px 0px 0.25em;
}
.cd-popup-container .cd-buttons a {
    display: block;
    height: 60px;
    line-height: 60px;
    text-transform: uppercase;
    color: #FFF;
    transition: background-color 0.2s ease 0s;
    text-decoration: none;
}
/*.img-replace {
    display: inline-block;
    overflow: hidden;
    text-indent: 100%;
    color: transparent;
    white-space: nowrap;
}*/

.cd-buttons{
    margin: 0px;
    padding: 0px;
    border: 0px none;
    font: inherit;
    vertical-align: baseline;
}

.cd-popup-container {
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;

    position: relative;
    width: 90%;
    max-width: 400px;
    height: 190px;
    margin: 4em auto;
    background: none repeat scroll 0% 0% #FFF;
    border-radius: 0.25em 0.25em 0.4em 0.4em;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-40px);
    transition-property: transform;
    transition-duration: 0.3s;
}

.cd-popup-container p{
    padding: 3em 1em;
    color: #8F9CB5;
}
.is-visible .cd-popup-container {
    transform: translateY(0);
}
/*------------------------------Order Table---------------------------------------------*/
#table-header{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: 15px 0px;
    background: #24A8FF;
    color: #FFFFFF;
    height: 40px;
}
.order_table{
    text-align: center;
    width: 100%;
}
.order_table th{
    text-align: center
}
.order_table tr{
    outline: 1px solid;
}
.order_code{
    width: 100px;
}
.order_time{
    width: 100px;
}
.order_date{
    width: 120px;
}
.order_items{
    width: 250px
}
.order_qty{
    width: 30px;
}
.order_action{
    width: 300px;
}
.item_button button{
    width: 100px;
    height: 80px;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 5px;
    border: 1px solid;
}
.item_button button:hover{
    box-shadow: 0px -1px 1px 1px #919394 inset;
    cursor: pointer;
}
.item_button button:active{
    font-weight: 800;
}
#accept_but{
    background: #5CB85C;
}
#reject_but{
    background: #D9534F;
}
#bill_but{
    background: #EC900F;
    width: 200px;
    margin: 5px;
}
/*---------------------------------Report--------------------------------------*/
#show-report{
    height: 800px;
    max-width: 1200px;
    min-width: 900px;
    border: 1px solid black;
    margin: 0 auto;
}
/*---------------------------------Info Panel--------------------------------------*/

#info-panel{
    margin: 0 auto;
    height: 800px;
    min-width: 850px;
    max-width: 1200px;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
    overflow: auto;
}
#info-panel h2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-left: 10px;
}
#info-panel td{
    padding: 5px 10px;
    font-weight: 550;
}
#info-panel table{
    min-width: 900px;
    margin-left: 40px;
}
#info-panel .title{
    font-weight: bold;
    font-size: 18px;
}
#edit_info_butt{
    width: 200px;
    height: 80px;
    background: #24A8AF;
    color: #FFFFFF;
    border-radius: 10px;
    font-size: 20px;
    position: relative;
    left: 450px;
    top: 30px;
}

/*---------------------------------FOOTER--------------------------------------*/
.footer{
    position: relative;
    background-color: #2D94EE;
    box-shadow: 30px 30px 100px 0px #FFFFFF inset, -30px -30px 100px 0px #FFFFFF inset;
    border: 1px solid #919394;
}
.foottext{
    position: relative;
    bottom: 60px;
    left: 200px;
}
.fblogo img{
    max-height: 100px;
    position: relative;
    left: 60px;
    top: 70px;
    border: 3px solid white;
    border-radius: 10px;
}