/*
html{
    background-image: url("bg1.jpg");
    background: #BDFDFF;
}

body{
    margin: 0 auto;
    padding: 0px;
    width: 1500px;
    font-size: 25px;
    line-height: 1em;
    background-color: white;
    font-family: Lato;
    box-shadow: -20px 0px 30px 0px #FFFFFF,20px 0px 30px 0px #FFFFFF;
}

.header{
    height: 300px;
    background-color: #8AC1DD;
}

#logo{

margin-top: 10px;
    margin-left: 10px;
    max-height: 80px;
}


#contact {
    float: right;
    font-size: 50px;
    padding: 50px;
    margin-top: 20px;
    background-color: #8AD9FF;

}

.lish-menu{
    height: 100px;
    float: right;
    font-size: 35px;
    font-weight: bold;
    text-align: center;;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD0FF;
    border-radius: 10px;
}

.lish-menu ul{
    height: auto;
    float: left;
}

.lish-menu li{
    display: inline;
    padding: 10px 50px;
}

*/