/*
html{
    background: #BDFDFF;
}

body{
    margin: 0 auto;
    padding: 0px;
    min-width: 900px;
    max-width: 1500px;
    font-size: 20px;
    line-height: 1em;
    background-color: white;
    font-family: Lato;
    box-shadow: -20px 0px 30px 0px #FFFFFF,20px 0px 30px 0px #FFFFFF;
}


.header{
    height: 100px;
    background-color: #2D94EE;
}
.header span{
    font-size: 80px;
    margin-left: 40px;
    position: relative;
    bottom: 10px;
    font-weight: bold;
    text-shadow: 3px 2px 20px #333333;
    color: #F1F5F8;
}
#logo{
    margin-top: 10px;
    margin-left: 10px;
    max-height: 80px;
}
#contact {
    float: right;
    font-size: 30px;
    padding: 20px;
    margin-top: 10px;
    background-color: #D6DEE0;
    border-radius: 100px 0px 0px 100px;
    color: #153BFA;
    font-weight: bold;
    border: 10px solid #F0F1F1;
}
*/
/*------------------------------MENU BAR---------------------------------------------*/

/*.lish-menu{
    height: 100px;
    min-width: 1500px;
    font-size: 35px;
    font-weight: bold;
    text-align: center;;
    text-shadow: 3px 2px 30px #333333;
    background: #7C818C;
    border: 1px solid #A8A8A8;
    box-shadow: 0px 50px 30px 0px #B0B8C6 inset;
}
.lish-menu ul{
    height: auto;
    float: left;
}
.lish-menu li{
    display: inline;
    padding: 10px 50px;
}
.lish-menu a{
    color: #F0F1F4;
    text-decoration: none;
}
.lish-menu a:hover{
    color: #F90;
}
*/
/*------------------------------CENTER---------------------------------------------*/

/*.center{
    height: auto;
    padding: 10px;
    background-color: white;
    padding-bottom: 50px;
}
.pageheader{
    margin: auto;
    font-size: 30px;
    width: 200px;
}
.showorder{
    margin: 0 auto;
    height: 800px;
    min-width: 900px;
    border: 1px solid black;
    background-color: #FFFFF0;
    border-radius: 10px;
    overflow: auto;
}
.order1{
    margin: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    font-size: 20px;
}
.orderheader p{
    width: 180px;
    display: inline-block;
}
.order_table{
    min-width: 900px;
    height: auto;
    text-align: center;
}
.order_table th{
    border: 1px solid black;
}


.order_no{
    width: 100px;
}
.order_code{
    width: 100px;
}
.order_time{
    width: 120px;
}
.order_date{
    width: 150px;
}
.order_items{
    width: 500px
}
.order_quan{
    width: 50px;
}
.order_action{
    width: 300px;
}

.item1_button button{
    width: 150px;
    height: 150px;
    border-radius: 200px;
    font-size: 30px;
    color: white;
    font-weight: 800;

}
#accept_but{
    background: #44FF00;
}
#reject_but{
    background: red;
}*/


/*---------------------------------FOOTER--------------------------------------*/

/*
.footer{
    position: relative;
    background-color: #2D94EE;
    box-shadow: 30px 30px 100px 0px #FFFFFF inset, -30px -30px 100px 0px #FFFFFF inset;
}
.foottext{
    position: relative;
    bottom: 60px;
    left: 200px;
}
.fblogo img{
    max-height: 100px;
    position: relative;
    left: 60px;
    top: 70px;
    border: 3px solid white;
    border-radius: 10px;
}*/