/*
.center{
    height: 1000px;
    padding: 10px;
    background-color: white;
}
.pageheader{
    margin: auto;
    font-size: 30px;
    width: 200px;
}
.showorder{
    height: 800px;
    max-width: 650px;
    border: 1px solid black;
}
*/