
<template name = "footer">

    <div class="footer">
        <div class="fblogo">
            <a href="http://www.facebook.com">
                <img src="https://www.facebook.com/images/fb_icon_325x325.png"/>
            </a>
        </div>
        <div class="foottext">
            <h1>GoodBoatTan SeniorProject</h1>
            <h2>Faculty of Engineering, Chulalongkorn University</h2>
            <h3>Call Center: 02-4567890</h3>
            <a href="http://www.google.co.th"> Privacy Policy </a>
        </div>
    </div>


</template>
