
<template name = "layout">
	<div id="mainpage-header">
		<div>
			<img id="boii-logo" src="/dish.png" />
			<span>BOII</span>
			<a id="contact">Contact Support: 02-1661215 </a>
		</div>
	</div>
	
	<div id="mainpage-menu">

	{{#if currentUser}}
            <ul>
                <li><a href={{pathFor 'orderListPage'}}> Order </a></li>
                <li><a href={{pathFor 'menuPage'}}> Menu </a></li>
                <li><a href={{pathFor 'reportPage'}}> Report </a></li>
                <li><a href={{pathFor 'cafeInfoPage'}}> Cafe Information </a></li>
                <li class="login-out"><a href={{pathFor 'entrySignOut'}}> Log Out </a></li>

            </ul>
	{{else}}


			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#overview"> Overview </a></li>
				<li><a href="#features"> Features </a></li>
				<li><a href="#cafe"> Cafe with Us </a></li>
                <li class="login-out"><a href="/sign-in"> Log in </a></li>
            </ul>


	{{/if}}
			</div>



	<div class="container">
		{{>yield}}
	</div>

	<div class="footer">
		<div class="fblogo">
			<a href="http://www.facebook.com">
				<img src="https://www.facebook.com/images/fb_icon_325x325.png"/>
			</a>
		</div>
		<div class="foottext">
			<h1>ICE Senior Project</h1>
			<h2>Faculty of Engineering, Chulalongkorn University</h2>
			<h3>Call Center: 02-4567890</h3>
			<a href="http://www.google.co.th"> Privacy Policy </a>
		</div>
	</div>

</template>
