
<template name="cafeRegisterPage">


    <div class="insert">

        <div class="center" id="register-center">
            <div class="pageheader">
                <h1>Register Restaurant</h1>
            </div>

            <h2>Cafe Information</h2>

            <form class = "form-horizontal" id="cafe-info">
                <div>
                        <img id="preview_image" src= "/default_coffee.jpg">
                    <br>
                </div>

                <div class="col-md-offset-4 form-group">
                    <label class="col-sm-2 control-label" for="Pic">Logo</label>
                    <div class="col-sm-6">
                        <input multiple class="file fileInput form-control" id="cafe-logo" type="file"/>
                    </div>

                </div>

                <div class = "col-md-offset-4 col-sm-5 form-group required">
                <!--<div class="col-md-offset-4 form-group">-->
                    <label class="col-sm-5 control-label" for="name">Cafe Name</label>
                    <div class="col-sm-6">
                        <input name="name" id="name" type="text"  placeholder="Name of cafe" class="form-control" required/>
                    </div>
                </div>

                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label" for="email">Email</label>
                    <div class="col-sm-6">
                        <input type="email" id="email" class="form-control" required/>
                    </div>
                </div>

                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label" >Order Option</label>
                    <div class="col-sm-6">
                        <!--<input id="requireBeacon" type="text" placeholder="1" class="form-control" required/>-->
                        <select class="form-control" id="requireBeacon">
                            <option value=1 selected>Allow order only when in range</option>
                            <option value=2>Allow menu order anywhere</option>
                        </select>

                    </div>
                </div>

                <div class = "col-sm-12 form-group">
                    <label class="col-sm-2 control-label" >Advertisement Phrase</label>
                    <div class="col-sm-6">
                        <textarea id="adPhrase" placeholder="Advertisement phrase to display on mobile application"></textarea>

                    </div>
                </div>


                <h2 class="col-sm-12"> Address</h2>
                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label" >Address Number</label>
                    <div class="col-sm-6">
                        <input id="number" type="text" placeholder="1" class="form-control" required/>
                    </div>
                </div>

                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Floor</label>
                    <div class="col-sm-6">
                        <input id="floor"  type="text" placeholder="3" class="form-control" required />
                    </div>
                </div>

                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Building</label>
                    <div class="col-sm-6">
                        <input id="building" type="text" placeholder="Siam Center" class="form-control" required/>
                    </div>
                </div>

                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Street/Soi</label>
                    <div class="col-sm-6">
                        <input id="street" type="text" placeholder="Phrayathai" class="form-control" required/>
                    </div>
                </div>


                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Sub-District</label>
                    <div class="col-sm-6">
                        <input id="subDist" type="text" placeholder="Patumwan" class="form-control" required/>
                    </div>
                </div>



                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">District</label>
                    <div class="col-sm-6">
                        <input id="dist" type="text"  placeholder="Patumwan" class="form-control" required/>
                    </div>
                    <br>
                </div>


                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Province</label>
                    <div class="col-sm-6">
                        <input id="province" type="text" placeholder="Bangkok" class="form-control" required/>
                    </div>
                </div>


                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Country</label>
                    <div class="col-sm-6">
                        <input id="country" type="text" placeholder="Thailand"  class="form-control" required/>
                    </div>
                    <br>
                </div>


                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Postal Code</label>
                    <div class="col-sm-6">
                        <input id="post" type="text" placeholder="12134"  class="form-control" required/>
                    </div>
                </div>


                <div class = "col-sm-5 form-group required">
                    <label class="col-sm-5 control-label">Phone Number</label>
                    <div class="col-sm-6">
                        <input id="phone" type="text" placeholder="081-0987897" class="form-control" required />
                    </div>
                    <br>
                </div>


                <div class = "col-sm-5 form-group">
                    <label class="col-sm-5 control-label">Major ID</label>
                    <div class="col-sm-6">
                        <input id="major" type="text" placeholder="beacon major" class="form-control" />
                    </div>
                </div>

                <div class = "col-sm-5 form-group">
                    <label class="col-sm-5 control-label">Minor ID</label>
                    <div class="col-sm-6">
                        <input id="minor" type="text" placeholder="beacon minor" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-12">
                    <a class = "btn btn-primary" type="submit" id="regis-button">Register</a>
                    <a href="{{pathFor 'cafeInfoPage'}}" class="btn btn-danger"  id="back-button">Back</a>

                </div>


            </form>



        </div>


    </div>

</template>
