
<template name="cafeRegisterPage">


    <div class="insert">

        <div id="register-center">
                <h1>Register</h1>
                <h2> Cafe Information</h2>

            <form class = "form-horizontal" id="cafe-info">

                    <div class = "form-group">
                        <p>Cafe Name:<input id="name" placeholder="MK" type="text"/>
                        Email:    <input type="email" id="email" placeholder="boii@mail.com"></p>
                    </div>
                <h2> Address</h2>
                    <div class = "form-group">
                        <p>Address Number:<input id="number" type="text"/></p>
                        <p>Floor:         <input id="floor"  type="text"/></p>
                        <p>Building:      <input id="building" type="text"/></p>
                        <p>Street/Soi:    <input id="street" type="text"/></p>
                        <p>Sub-District:  <input id="subDist" type="text"/></p>
                        <p>District:      <input id="dist" type="text"/></p>
                        <p>Province:      <input id="province" type="text"/></p>
                        <p>Country:       <input id="country" type="text"/></p>
                        <p>Postal Code:    <input id="post" type="text"/></p>
                        <p>Phone number:    <input id="phone" type="text"/></p>
                    </div>

            </form>

        <div id="buttons">
            <button class = "btn btn-primary" type="button" id="regis-button">Register</button>
            <a href={{pathFor 'cafeInfoPage'}}><button class = "btn btn-danger" type="button" id="back-button">Back</button></a>
        </div>
        </div>


    </div>

</template>
