
<template name = "navigation">

    <div class="header">
        <div>
            <a href="http://www.google.co.th">
                <img id="logo" src="dish.png" />
            </a>

            <a id="contact">Contact Support: 02-1661215 </a>
        </div>
    </div>
        <div class="lish-menu">
        <ul>

            <li><a href="http://localhost:3000/"> Home</a></li>
            <li><a href="http://localhost:3000/orders"> Order </a></li>
            <li><a href="http://localhost:3000/menu"> Menu</a></li>
            <li><a href="http://localhost:3000/report"> Report</a></li>
            <li><a href="http://localhost:3000/cafeInfo"> Cafe Information</a></li>


        </ul>
    </div>




</template>
