<template name = "orderList">
 <div class="center">
                <div class="pageheader">
                    <h1>Order</h1>
                </div>
                <div class="showorder">
                    <table id="table-header">
                        <tr id="header">
                            <th class="order_no">No</th>
                            <th class="order_code">Code</th>
                            <th class="order_time">Time</th>
                            <th class="order_date">Date</th>
                            <th class="order_items">Items</th>
                            <th class="order_qty">Qty</th>
                            <th class="order_action">Action</th>
                        </tr>
                    </table>
                    <table class="order_table">
                        <tr>
                            <td class="order_no"><p id="no">1</p></td>
                            <td class="order_code"><p id="code">678</p></td>
                            <td class="order_time"><p id="time">12.00.00</p></td>
                            <td class="order_date"><p id="date">01/01/2015</p></td>
                            <td class="order_items">
                                <p id="item1_name">Espresso</p>
                                <p id="item2_name">Cappucino</p>
                            </td>
                            <td class="order_qty">
                                <p id="item1_num">1</p>
                                <p id="item2_num">1</p>
                            </td>
                            <td class="order_action"><div class="item_button">
                                <button type="button" id="bill_but">Bill</button>
                                <!--
                                <button type="button" id="accept_but">Accept</button>
                                <button type="button" id="reject_but">Reject</button> -->
                                </div></td>
                        </tr> 
                    </table>
                </div>
                <div><button id="test_but">Test</button></div>
            </div> 

</template>
